@import '~antd/dist/antd.css';

.ant-layout-content {
    min-height: calc(100vh - 64px);
    padding-top: 12px;
}

.ant-col {
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
}

.justify-content-center {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.form-input {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
}